PORT=4003
NODE_ENV=development
MONGO_URI=mongodb://order-mongo:27017/orderdb
JWT_SECRET=replace_with_secure_secret
PRODUCT_SERVICE_URL=http://product-service:4002
TEAMMATE_SERVICE_URL=http://host.docker.internal:5000
TEAMMATE_INTEGRATION_PATH=/api/integrations/order-created
TEAMMATE_SERVICE_TIMEOUT_MS=5000
CORS_ORIGIN=*
RATE_LIMIT_MAX=200
SERVICE_SHARED_SECRET=replace_with_shared_secret


# 1lKMUnGbA3vHClau
mongodb+srv://sathushan622_db_user:1lKMUnGbA3vHClau@cluster0.husd0fi.mongodb.net/